body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  color: #0077cc;
}

.active {
  color: #0077cc;
  text-decoration: underline;
}
